@layer app {
  .ELo6k8UFKtemGcBc {
    font-size: 5rem;
  }
}

@layer xorkevin.nuke {
  :root {
    --nuke-text-title-font: var(--nuke-text-base-font);
    --nuke-text-title-size-large: 2.5rem;
    --nuke-text-title-size-medium: 1.5rem;
    --nuke-text-title-size-small: 1rem;
    --nuke-text-title-lineheight: 1.5;
    --nuke-text-title-weight: var(--nuke-text-weight-semibold);

    --nuke-text-subtitle-font: var(--nuke-text-base-font);
    --nuke-text-subtitle-size: 1.25rem;
    --nuke-text-subtitle-lineheight: 1.5;
    --nuke-text-subtitle-weight: var(--nuke-text-weight-medium);

    --nuke-text-display-font: var(--nuke-text-base-font);
    --nuke-text-display-size: 3rem;
    --nuke-text-display-lineheight: 1.5;
    --nuke-text-display-weight: var(--nuke-text-weight-semibold);
  }

  .N7LGgFCKfY6aek3Y {
    font-family: var(--nuke-text-title-font);
    font-size: var(--nuke-text-title-size-small);
    line-height: var(--nuke-text-title-lineheight);
    font-weight: var(--nuke-text-title-weight);

    &.S6vFZCCTVdhnJfuK {
      font-size: var(--nuke-text-title-size-small);
    }

    &.UavpBF8QMQG9J3YZ {
      font-size: var(--nuke-text-title-size-medium);
    }

    &.yd6UrJhuyTBKONG3 {
      font-size: var(--nuke-text-title-size-large);
    }
  }

  .gexxdMYRfBKlAStU {
    font-family: var(--nuke-text-subtitle-font);
    font-size: var(--nuke-text-subtitle-size);
    line-height: var(--nuke-text-subtitle-lineheight);
    font-weight: var(--nuke-text-subtitle-weight);
  }

  .GvTFBZuQQl1sAUF8 {
    font-family: var(--nuke-text-display-font);
    font-size: var(--nuke-text-display-size);
    line-height: var(--nuke-text-display-lineheight);
    font-weight: var(--nuke-text-display-weight);
  }

  .XsGV9JTKX6NkP2cv {
    color: var(--nuke-color-fg-1);
  }

  .cLWP1hBcl70h8FzY {
    color: var(--nuke-color-fg-2);
  }

  .qgeJadsa7so_s9ck {
    color: var(--nuke-color-fg-3);
  }

  .fSYkISTyijWytZst {
    color: var(--nuke-color-fg-invert);
  }

  .fL7K3id0JvHYHj98 {
    color: var(--nuke-color-fg-accent);
  }

  .kwESQkSNT_iMsEk0 {
    color: var(--nuke-color-fg-accent-invert);
  }

  .T4EN3vrpiry0NOno {
    background-color: var(--nuke-color-bg-1);
  }

  .mpGxgRaxTl9IXKT5 {
    background-color: var(--nuke-color-bg-2);
  }

  .cQZzl5Vfb34xCYLA {
    background-color: var(--nuke-color-bg-3);
  }

  ._3f4YRKKHN8JP96Gr {
    background-color: var(--nuke-color-bg-accent-1);
  }

  ._huVoqdrVzMQ8I2m {
    background-color: var(--nuke-color-bg-accent-2);
  }

  .NnXqdDN8MN7sjSqR {
    background-color: var(--nuke-color-bg-accent-3);
  }

  .nFhTE5nbKyu7aaQx {
    background-color: var(--nuke-color-bg-alpha-accent-1);
  }

  .dFIKtYfJq4Gw6C0t {
    background-color: var(--nuke-color-bg-alpha-accent-2);
  }

  .BgKtsuPWvtaRiJZt {
    background-color: var(--nuke-color-bg-alpha-accent-3);
  }
}

