/* inter-cyrillic-ext-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-cyrillic-ext-standard-normal.b5b21ffcd8bac8ae.woff2) format('woff2-variations');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-cyrillic-standard-normal.e80f78937b647a35.woff2) format('woff2-variations');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-greek-ext-standard-normal.c55b85f9bb60add4.woff2) format('woff2-variations');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-greek-standard-normal.e1a45eea7ee595f4.woff2) format('woff2-variations');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-vietnamese-standard-normal.375ff4c1ff5824e9.woff2) format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-latin-ext-standard-normal.9a185a9ed8d40802.woff2) format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-standard-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 900;
  src: url(/static/fonts/inter-latin-standard-normal.e68cf13da2f0054f.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@layer xorkevin.nuke, app;

@layer xorkevin.nuke {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
}

@layer xorkevin.nuke {
  :root {
    --nuke-text-base-font: 'Inter Variable', sans-serif;
    --nuke-text-mono-font: monospace;

    --nuke-text-weight-light: 300;
    --nuke-text-weight-normal: 400;
    --nuke-text-weight-medium: 500;
    --nuke-text-weight-semibold: 600;
    --nuke-text-weight-bold: 700;

    --nuke-text-body-font: var(--nuke-text-base-font);
    --nuke-text-body-size: 1rem;
    --nuke-text-body-lineheight: 1.5;
    --nuke-text-body-weight: var(--nuke-text-weight-normal);

    --nuke-color-accent-hue: 243;

    --nuke-color-fg-1: oklch(17% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-2: oklch(42% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-3: oklch(67% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-invert: oklch(100% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-accent: oklch(53% 0.24 262);
    --nuke-color-fg-accent-invert: oklch(100% 0 var(--nuke-color-accent-hue));

    --nuke-color-bg-1: oklch(100% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-2: oklch(97% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-bg-3: oklch(94% 0.01 var(--nuke-color-accent-hue));

    --nuke-color-bg-accent-1: oklch(53% 0.24 262);
    --nuke-color-bg-accent-2: oklch(59% 0.22 262);
    --nuke-color-bg-accent-3: oklch(65% 0.18 262);

    --nuke-color-bg-alpha-accent-1: oklch(
      94% 0.02 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-2: oklch(
      88% 0.04 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-3: oklch(
      82% 0.06 var(--nuke-color-accent-hue) / 50%
    );

    @media (prefers-color-scheme: dark) {
      & {
        --nuke-color-fg-1: oklch(97% 0 var(--nuke-color-accent-hue));
        --nuke-color-fg-2: oklch(75% 0.01 var(--nuke-color-accent-hue));
        --nuke-color-fg-3: oklch(50% 0.01 var(--nuke-color-accent-hue));
        --nuke-color-fg-invert: oklch(17% 0 var(--nuke-color-accent-hue));
        --nuke-color-fg-accent: oklch(53% 0.24 262);
        --nuke-color-fg-accent-invert: oklch(
          100% 0 var(--nuke-color-accent-hue)
        );

        --nuke-color-bg-1: oklch(0% 0 var(--nuke-color-accent-hue));
        --nuke-color-bg-2: oklch(20% 0 var(--nuke-color-accent-hue));
        --nuke-color-bg-3: oklch(25% 0.01 var(--nuke-color-accent-hue));

        --nuke-color-bg-invert-1: oklch(97% 0 var(--nuke-color-accent-hue));
        --nuke-color-bg-invert-2: oklch(91% 0 var(--nuke-color-accent-hue));
        --nuke-color-bg-invert-3: oklch(85% 0 var(--nuke-color-accent-hue));

        --nuke-color-bg-accent-1: oklch(53% 0.24 262);
        --nuke-color-bg-accent-2: oklch(59% 0.22 262);
        --nuke-color-bg-accent-3: oklch(65% 0.18 262);

        --nuke-color-bg-alpha-1: oklch(
          25% 0 var(--nuke-color-accent-hue) / 50%
        );
        --nuke-color-bg-alpha-2: oklch(
          31% 0 var(--nuke-color-accent-hue) / 50%
        );
        --nuke-color-bg-alpha-3: oklch(
          37% 0 var(--nuke-color-accent-hue) / 50%
        );

        --nuke-color-bg-alpha-accent-1: oklch(
          25% 0.03 var(--nuke-color-accent-hue) / 50%
        );
        --nuke-color-bg-alpha-accent-2: oklch(
          31% 0.05 var(--nuke-color-accent-hue) / 50%
        );
        --nuke-color-bg-alpha-accent-3: oklch(
          37% 0.07 var(--nuke-color-accent-hue) / 50%
        );
      }
    }
  }

  .nuke__color-scheme-light {
    --nuke-color-fg-1: oklch(17% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-2: oklch(42% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-3: oklch(67% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-invert: oklch(100% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-accent: oklch(53% 0.24 262);
    --nuke-color-fg-accent-invert: oklch(100% 0 var(--nuke-color-accent-hue));

    --nuke-color-bg-1: oklch(100% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-2: oklch(97% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-bg-3: oklch(94% 0.01 var(--nuke-color-accent-hue));

    --nuke-color-bg-invert-1: oklch(17% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-invert-2: oklch(25% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-invert-3: oklch(33% 0 var(--nuke-color-accent-hue));

    --nuke-color-bg-accent-1: oklch(53% 0.24 262);
    --nuke-color-bg-accent-2: oklch(59% 0.22 262);
    --nuke-color-bg-accent-3: oklch(65% 0.18 262);

    --nuke-color-bg-alpha-1: oklch(94% 0 var(--nuke-color-accent-hue) / 50%);
    --nuke-color-bg-alpha-2: oklch(88% 0 var(--nuke-color-accent-hue) / 50%);
    --nuke-color-bg-alpha-3: oklch(82% 0 var(--nuke-color-accent-hue) / 50%);

    --nuke-color-bg-alpha-accent-1: oklch(
      94% 0.02 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-2: oklch(
      88% 0.04 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-3: oklch(
      82% 0.06 var(--nuke-color-accent-hue) / 50%
    );

    color: var(--nuke-color-fg-1);
  }

  .nuke__color-scheme-dark {
    --nuke-color-fg-1: oklch(97% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-2: oklch(75% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-3: oklch(50% 0.01 var(--nuke-color-accent-hue));
    --nuke-color-fg-invert: oklch(17% 0 var(--nuke-color-accent-hue));
    --nuke-color-fg-accent: oklch(53% 0.24 262);
    --nuke-color-fg-accent-invert: oklch(100% 0 var(--nuke-color-accent-hue));

    --nuke-color-bg-1: oklch(0% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-2: oklch(17% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-3: oklch(25% 0.01 var(--nuke-color-accent-hue));

    --nuke-color-bg-invert-1: oklch(97% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-invert-2: oklch(91% 0 var(--nuke-color-accent-hue));
    --nuke-color-bg-invert-3: oklch(85% 0 var(--nuke-color-accent-hue));

    --nuke-color-bg-accent-1: oklch(53% 0.24 262);
    --nuke-color-bg-accent-2: oklch(59% 0.22 262);
    --nuke-color-bg-accent-3: oklch(65% 0.18 262);

    --nuke-color-bg-alpha-1: oklch(25% 0 var(--nuke-color-accent-hue) / 50%);
    --nuke-color-bg-alpha-2: oklch(31% 0 var(--nuke-color-accent-hue) / 50%);
    --nuke-color-bg-alpha-3: oklch(37% 0 var(--nuke-color-accent-hue) / 50%);

    --nuke-color-bg-alpha-accent-1: oklch(
      25% 0.03 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-2: oklch(
      31% 0.05 var(--nuke-color-accent-hue) / 50%
    );
    --nuke-color-bg-alpha-accent-3: oklch(
      37% 0.07 var(--nuke-color-accent-hue) / 50%
    );

    color: var(--nuke-color-fg-1);
  }

  html,
  body {
    font-family: var(--nuke-text-body-font);
    font-size: var(--nuke-text-body-size);
    line-height: var(--nuke-text-body-lineheight);
    font-weight: var(--nuke-text-body-weight);
    overflow-wrap: break-word;

    background-color: var(--nuke-color-bg-1);
    color: var(--nuke-color-fg-1);
  }
}

@layer app {
  .Uo76dtt45k5xeiPy {
    min-height: 100vh;
  }
}

@layer xorkevin.nuke {
  :root {
    --nuke-nav-banner-height: 56px;
    --nuke-nav-sidebar-width: 320px;
  }

  .POwmcXUDDnODxH7G {
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--nuke-nav-banner-height);
    background-color: var(--nuke-color-bg-1);
    border-bottom: 1px solid var(--nuke-color-bg-3);
  }

  .hVXUQXrG2qutGfUl {
    height: 100%;
  }

  .ua6tTQTyf3Ijy5Rq {
    max-width: 100%;
    display: flex;
    align-items: stretch;

    & > ul {
      max-width: 100%;
      list-style: none;
      display: flex;
      align-items: stretch;
      gap: 0.5rem;
      overflow-x: auto;

      & > li {
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;

        & > .aGJZ9x5zq5bVgAou {
          text-decoration: none;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          color: var(--nuke-color-fg-1);
          background-color: transparent;
          transition: background-color 125ms ease;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            height: 2px;
            width: 100%;
            background-color: transparent;
            transition: background-color 125ms ease;
            pointer-events: none;
          }

          &:hover {
            background-color: var(--nuke-color-bg-alpha-accent-1);
          }

          &.nuke__nav-link-matches {
            font-weight: var(--nuke-text-weight-semibold);

            &:after {
              background-color: var(--nuke-color-fg-accent);
            }
          }
        }

        &.Yxjn1P9yuQcP2Vtd {
          height: 2rem;
          width: 1px;
          align-self: center;
          background-color: var(--nuke-color-bg-3);
        }
      }
    }
  }

  .lpk5UDnN4LQFpcZR {
    width: var(--nuke-nav-sidebar-width);
    max-width: 100%;
  }

  .Y_o3dHL0_X31fNzB {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      & > li {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & > .pVJDZz98oFKJRcS_ {
          text-decoration: none;
          position: relative;
          padding: 0.5rem 1rem;
          padding-left: calc(1rem + var(--nuke-nav-list-nest-level, 0) * 1rem);
          margin-left: 8px;
          border-radius: 0.5rem;
          color: var(--nuke-color-fg-1);
          background-color: transparent;
          transition: background-color 125ms ease;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -8px;
            translate: 0 -50%;
            display: block;
            width: 4px;
            height: calc(100% - 8px);
            border-radius: 4px;
            background-color: transparent;
            transition: background-color 125ms ease;
            pointer-events: none;
          }

          &:hover {
            background-color: var(--nuke-color-bg-alpha-accent-1);
          }

          &.nuke__nav-link-matches {
            font-weight: var(--nuke-text-weight-semibold);

            &:after {
              background-color: var(--nuke-color-fg-accent);
            }
          }
        }

        &.hNxcwVUc286ccKgA {
          & > .wu6ikfzju4BvnopI {
            font-size: 0.93rem;
            font-weight: var(--nuke-text-weight-semibold);
            color: var(--nuke-color-fg-2);
            padding: 0.5rem 1rem;
            padding-left: calc(
              1rem + var(--nuke-nav-list-nest-level, 0) * 1rem
            );
            margin-left: 8px;
          }
        }

        &.YM_A3NnsYgBe_weA {
          height: 1px;
          margin: 1rem 0 1rem 8px;
          background-color: var(--nuke-color-bg-3);
        }

        &.hOGphjvdujiCRr9G {
          & > .m4WfsAr5ykZa8fNM {
            font: unset;
            color: unset;
            text-align: unset;
            appearance: unset;
            border: unset;
            cursor: pointer;
            position: relative;
            padding: 0.5rem 1rem;
            padding-left: calc(
              1rem + var(--nuke-nav-list-nest-level, 0) * 1rem
            );
            margin-left: 8px;
            border-radius: 0.5rem;
            background-color: transparent;
            transition: background-color 125ms ease;

            & > .dyAe7Bxx8E33zLFw {
              position: absolute;
              top: 50%;
              right: 0.5rem;
              translate: 0 -50%;
              color: var(--nuke-color-fg-2);
              transition: rotate 125ms ease;
              pointer-events: none;
            }

            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: -8px;
              translate: 0 -50%;
              display: block;
              width: 4px;
              height: calc(100% - 8px);
              border-radius: 4px;
              background-color: transparent;
              transition: background-color 125ms ease;
              pointer-events: none;
            }

            &:hover {
              background-color: var(--nuke-color-bg-alpha-accent-1);
            }
          }

          &.dU2VwpmF3Ai6KgmB {
            & > ul {
              display: none;
            }

            & > .m4WfsAr5ykZa8fNM {
              & > .dyAe7Bxx8E33zLFw {
                rotate: -0.25turn;
              }
            }

            &:has(.nuke__nav-link-matches) {
              & > .m4WfsAr5ykZa8fNM {
                background-color: var(--nuke-color-bg-alpha-accent-1);

                &:after {
                  background-color: var(--nuke-color-fg-accent);
                }
              }
            }
          }
        }
      }
    }
  }
}

@layer xorkevin.nuke {
  :root {
    --nuke-box-unit: 256px;
    --nuke-box-padding-unit: 16px;
    --nuke-card-border-radius: 8px;
  }

  .QtM62mCCKMODCbUh {
    width: 100%;
    max-width: 100%;

    &.RnNdZ14NGDEKpVCC {
      margin-left: auto;
      margin-right: auto;
    }

    &.SUudRbW6OwlDABqc {
      padding: var(--nuke-box-padding-unit);
    }

    &.DmxxpFOLJt0UMgNv {
      padding-left: var(--nuke-box-padding-unit);
      padding-right: var(--nuke-box-padding-unit);
    }

    &.mzTLcskODPfrN9Tc {
      padding-top: var(--nuke-box-padding-unit);
      padding-bottom: var(--nuke-box-padding-unit);
    }

    &:not(.uFTlqjGh8aZWBuNH) {
      @media (min-width: 768px) {
        &.SUudRbW6OwlDABqc {
          padding: calc(var(--nuke-box-padding-unit) * 2);
        }

        &.DmxxpFOLJt0UMgNv {
          padding-left: calc(var(--nuke-box-padding-unit) * 2);
          padding-right: calc(var(--nuke-box-padding-unit) * 2);
        }

        &.mzTLcskODPfrN9Tc {
          padding-top: calc(var(--nuke-box-padding-unit) * 2);
          padding-bottom: calc(var(--nuke-box-padding-unit) * 2);
        }
      }
    }

    &.NPwTaPSnIN_tSHeQ {
      width: var(--nuke-box-unit);
    }

    &.OdtxkKJweiZR73xm {
      width: calc(var(--nuke-box-unit) * 1.5);
    }

    &.TeeNEHLaogQcKzCG {
      width: calc(var(--nuke-box-unit) * 2);
    }

    &.lZqUI4XNktyEW0CJ {
      width: calc(var(--nuke-box-unit) * 3);
    }

    &.dZ2wRIMQqx8lAB1P {
      width: calc(var(--nuke-box-unit) * 4);
    }

    &.uS0CKYOdGSSRPhdZ {
      width: calc(var(--nuke-box-unit) * 5);
    }

    &.E8lf6mHuwmICLqNv {
      width: calc(var(--nuke-box-unit) * 6);
    }

    .PR_MqlVEIwjaLE7F {
      border-radius: var(--nuke-card-border-radius);
      border: 1px solid var(--nuke-color-bg-3);
    }
  }

  .Kc_jwFiW0wT80W8x {
    max-width: 100%;
    display: flex;

    &.j4p8HuoTV3I_sEe4 {
      flex-direction: row;
    }

    &.BmQnvw2j0vvSFkSC {
      flex-direction: row-reverse;
    }

    &.zPko2imhQw2Qz1Ey {
      flex-direction: column;
    }

    &.pOM5OoJVdxAw046q {
      flex-direction: column-reverse;
    }

    &.GkFTIPgXJLBQ2ftX {
      flex-wrap: wrap;
    }

    &.jqjhNeJhfYqH6dbC {
      flex-wrap: wrap-reverse;
    }

    &.vuI9DID7n0WC7o9L {
      flex-wrap: nowrap;
    }

    &.GSxh9gfoZ3xdagpp {
      align-items: flex-start;
    }

    &.FRx_ZPNwHGKaqu1e {
      align-items: flex-end;
    }

    &.ZJvAAYo5tM8WXziQ {
      align-items: center;
    }

    &.q6xVj6P9SyH3rGK2 {
      align-items: stretch;
    }

    &.OWyadR42ZuPBojj_ {
      align-content: flex-start;
    }

    &.Wa3Y0jlLYS7uQN5j {
      align-content: flex-end;
    }

    &.oed4nrIksePgkfPN {
      align-content: center;
    }

    &.mxQNDraofJsUpViK {
      align-content: space-between;
    }

    &.iO_OyMUEoEkbfn19 {
      align-content: space-around;
    }

    &.bOp_OlGu5yaVMZBX {
      align-content: space-evenly;
    }

    &.iD2CjF5dMykwG76r {
      align-content: stretch;
    }

    &.W81HAxFZYBFVMg0b {
      justify-content: flex-start;
    }

    &.X8jK58E1B8QjybX0 {
      justify-content: flex-end;
    }

    &.b4Z3hVd7pOq6ANGj {
      justify-content: center;
    }

    &.Ly4tGOzrLiEtMJE4 {
      justify-content: space-between;
    }

    &.ZCP08urAUdR4GFhI {
      justify-content: space-around;
    }

    &.AmZn5LgbYOaqB77t {
      justify-content: space-evenly;
    }

    &.RhfQDA2wQ8NNFYWZ {
      justify-content: stretch;
    }
  }

  .Z2GzY5Z53WC_HANe {
    flex-grow: 1;
  }

  .Fd9VAK4GL2DRRzi_ {
    flex-grow: 0;
  }

  .ZpzDA0CSckHy2FkQ {
    flex-shrink: 1;
  }

  .R4GbPpRUt22Af4I7 {
    flex-shrink: 0;
  }

  .OqDO9v6fqJp8QgqQ {
    flex-basis: 0;
  }
}

@layer xorkevin.nuke {
  :root {
    --nuke-text-title-font: var(--nuke-text-base-font);
    --nuke-text-title-size-large: 2.5rem;
    --nuke-text-title-size-medium: 1.5rem;
    --nuke-text-title-size-small: 1rem;
    --nuke-text-title-lineheight: 1.5;
    --nuke-text-title-weight: var(--nuke-text-weight-semibold);

    --nuke-text-subtitle-font: var(--nuke-text-base-font);
    --nuke-text-subtitle-size: 1.25rem;
    --nuke-text-subtitle-lineheight: 1.5;
    --nuke-text-subtitle-weight: var(--nuke-text-weight-medium);

    --nuke-text-display-font: var(--nuke-text-base-font);
    --nuke-text-display-size: 3rem;
    --nuke-text-display-lineheight: 1.5;
    --nuke-text-display-weight: var(--nuke-text-weight-semibold);
  }

  .N7LGgFCKfY6aek3Y {
    font-family: var(--nuke-text-title-font);
    font-size: var(--nuke-text-title-size-small);
    line-height: var(--nuke-text-title-lineheight);
    font-weight: var(--nuke-text-title-weight);

    &.S6vFZCCTVdhnJfuK {
      font-size: var(--nuke-text-title-size-small);
    }

    &.UavpBF8QMQG9J3YZ {
      font-size: var(--nuke-text-title-size-medium);
    }

    &.yd6UrJhuyTBKONG3 {
      font-size: var(--nuke-text-title-size-large);
    }
  }

  .gexxdMYRfBKlAStU {
    font-family: var(--nuke-text-subtitle-font);
    font-size: var(--nuke-text-subtitle-size);
    line-height: var(--nuke-text-subtitle-lineheight);
    font-weight: var(--nuke-text-subtitle-weight);
  }

  .GvTFBZuQQl1sAUF8 {
    font-family: var(--nuke-text-display-font);
    font-size: var(--nuke-text-display-size);
    line-height: var(--nuke-text-display-lineheight);
    font-weight: var(--nuke-text-display-weight);
  }

  .XsGV9JTKX6NkP2cv {
    color: var(--nuke-color-fg-1);
  }

  .cLWP1hBcl70h8FzY {
    color: var(--nuke-color-fg-2);
  }

  .qgeJadsa7so_s9ck {
    color: var(--nuke-color-fg-3);
  }

  .fSYkISTyijWytZst {
    color: var(--nuke-color-fg-invert);
  }

  .fL7K3id0JvHYHj98 {
    color: var(--nuke-color-fg-accent);
  }

  .kwESQkSNT_iMsEk0 {
    color: var(--nuke-color-fg-accent-invert);
  }

  .T4EN3vrpiry0NOno {
    background-color: var(--nuke-color-bg-1);
  }

  .mpGxgRaxTl9IXKT5 {
    background-color: var(--nuke-color-bg-2);
  }

  .cQZzl5Vfb34xCYLA {
    background-color: var(--nuke-color-bg-3);
  }

  ._3f4YRKKHN8JP96Gr {
    background-color: var(--nuke-color-bg-accent-1);
  }

  ._huVoqdrVzMQ8I2m {
    background-color: var(--nuke-color-bg-accent-2);
  }

  .NnXqdDN8MN7sjSqR {
    background-color: var(--nuke-color-bg-accent-3);
  }

  .nFhTE5nbKyu7aaQx {
    background-color: var(--nuke-color-bg-alpha-accent-1);
  }

  .dFIKtYfJq4Gw6C0t {
    background-color: var(--nuke-color-bg-alpha-accent-2);
  }

  .BgKtsuPWvtaRiJZt {
    background-color: var(--nuke-color-bg-alpha-accent-3);
  }
}

@layer xorkevin.nuke {
  input.guddHCjPh800OcCW {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: unset;
    outline: 2px solid transparent;
    border: 1px solid var(--nuke-color-bg-3);
    border-radius: 4px;
    font-size: unset;
    font-family: unset;
    line-height: 1.5;
    padding: 0.5rem;

    &:focus-visible {
      outline-color: var(--nuke-color-fg-1);
    }

    &.waWVqkj7nQ2tIeAf {
      width: 100%;
    }

    &[type='checkbox'] {
      height: 1.25rem;
      width: 1.25rem;
      padding: 0;
      border-radius: 4px;
      border-color: var(--nuke-color-fg-2);
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 4px;
        color: transparent;
        background-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 viewBox=%270 0 24 24%27 stroke=%27currentColor%27 stroke-width=%273%27 stroke-linecap=%27square%27 stroke-linejoin=%27miter%27 fill=%27none%27 %3E%3Cpolyline points=%275 12 10 17 20 7%27 /%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:checked {
        background-color: var(--nuke-color-fg-1);

        &:after {
          color: var(--nuke-color-bg-1);
        }
      }
    }

    &[type='checkbox'].zW6qaQN1S_M7yHLS {
      height: 1.5rem;
      width: calc(3rem - 4px);
      border-width: 2px;
      border-radius: calc(1.5rem / 2);
      border-color: var(--nuke-color-bg-3);
      cursor: pointer;
      position: relative;
      background-color: var(--nuke-color-bg-3);
      transition:
        border-color 62.5ms ease,
        background-color 62.5ms ease;

      &:after {
        content: '';
        display: block;
        height: 100%;
        width: unset;
        aspect-ratio: 1/1;
        position: relative;
        top: 0;
        left: 0;
        translate: 0;
        border-radius: 50%;
        background-color: var(--nuke-color-bg-1);
        transition: translate 62.5ms ease;
      }

      &:checked {
        border-color: var(--nuke-color-fg-1);
        background-color: var(--nuke-color-fg-1);

        &:after {
          translate: 100%;
        }
      }
    }

    &[type='radio'] {
      height: 1.25rem;
      aspect-ratio: 1/1;
      padding: 0;
      border-radius: 50%;
      border-color: var(--nuke-color-fg-2);
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: calc(1.25rem - 8px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: transparent;
      }

      &:checked {
        &:after {
          background-color: var(--nuke-color-fg-1);
        }
      }
    }

    &[type='file'] {
      font-size: 0.85rem;
      color: unset;
      cursor: pointer;

      &::file-selector-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        color: unset;
        font: unset;
        font-weight: var(--nuke-text-weight-medium);
      }
    }
  }

  textarea.OYul63X9vwlpIJFp {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: unset;
    outline: 2px solid transparent;
    border: 1px solid var(--nuke-color-bg-3);
    border-radius: 4px;
    font-size: unset;
    font-family: unset;
    line-height: 1.5;
    padding: 0.5rem;

    &:focus-visible {
      outline-color: var(--nuke-color-fg-1);
    }

    &.waWVqkj7nQ2tIeAf {
      width: 100%;
    }

    &.kkJ9G1D8mKflBfMf {
      resize: vertical;
    }

    &.P9EC6NPFXYaTUp6R {
      resize: horizontal;
    }

    &.eurM1AHFacZ3xSki {
      resize: none;
    }

    &.VN1D969BW6H8qJ73 {
      font-family: monospace;
    }
  }

  select.G6tusYxWUKNpljKF {
    outline: none;
    background: transparent;
    color: unset;
    outline: 2px solid transparent;
    border: 1px solid var(--nuke-color-bg-3);
    border-radius: 4px;
    font-size: unset;
    font-family: unset;
    line-height: 1.5;
    padding: 0.5rem;
    cursor: pointer;

    &:focus-visible {
      outline-color: var(--nuke-color-fg-1);
    }

    &.waWVqkj7nQ2tIeAf {
      width: 100%;
    }

    & option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: unset;
      background-color: var(--nuke-color-bg-1);
    }
  }

  .HbsR9Br6G88iCZ_1 {
    padding: 0.5rem;
  }
}

